.about {
    overflow-y: scroll;
    background-color: var(--fondo);
    height: 100vh;
    width: 100%;
    color: var(--blanco);
    .about__contenedor {
        margin-left: 30px;
        margin-top: 30px;
    }
    .about__h2 {
        font-size: 40px;
    }
    .about__barra {
        width: 5rem;
        height: 5px;
        background-color: var(--principal);
        margin: 10px 0;
    }
    .about__barra--inferior {
        width: 3rem;
    }
    .about__h3 {
        font-size: 28px;
        margin: 60px 0 20px 0;
    }
    .about__span {
        color: var(--principal);
    }
    .about__divInfo {
        margin-top: 40px;
    }
    .about__p {
        margin-right: 40px;
    }
    .about__info {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-bottom: 20px;
        
    }
    .about__pInfo {
        border-bottom: 1px solid rgb(37, 37, 37);
    }
    .about__pInfo--segundo {
        margin-left: 20px;
    }
    .about__spanInfo{
        color: var(--blanco);
        font-weight: 600;
        font-size: 18px;
    }
    .about__email {
        color: var(--blanco);
        text-decoration: none;
    }
    .about__button {
        margin-top: 20px;
        margin-left: 40px;
    }
    .about__contenedorInfo {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .about__contenedorHistoria {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-top: 5rem;
    }
    .about__contenedorEducacion, .about__contenedorExperiencia {
        width: 90%;
    }
    .about__categoria {
        font-size: 38px;
    }
    .about__educacion {
        background-color: var(--gris);
        border-radius: 20px;
        box-shadow: 0 0 2px 0 var(--blanco);
    }
    .about__centrado {

        overflow: hidden;
        display: grid;
        grid-template-columns: 5% 95%;
        width: 90%;
        margin: 40px auto;
    }
    .about__divDecoration {
        margin: 20px 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about__divDecoration:nth-child(1) {
        justify-content: end
    }
    .about__circle {
        position: relative;
        top: 16px;
        right: 38px;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        background-color: var(--principal);
    }
    .about__line {
        height: 100%;
        width: 2px;
        background-color: var(--principal);
    }
    .about__titulo {
        font-size: 18px;
        font-weight: 600;
        margin: 10px 0;
    }
    .about__divContenido {
        margin: 20px 0;
        margin-left: 20px;
    }
}

@media (max-width: 640px) {
    .about__contenedorHistoria {
        grid-template-columns: 100%!important;
    }
}