/* GENERALES GENERALES*/
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Lato&family=Roboto:wght@300;400&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Lora&family=Montserrat+Alternates&family=Playfair+Display&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #fff;
    /* font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif; */
    font-family: 'Space Mono', monospace;
}

:root {
    --principal: rgb(12,12,12);
    --secundario: rgb(255, 81, 0);
    --secundario__gradiente: rgb(255, 145, 0);
    --tercero: rgb(106, 111, 116);
}

/* HEADER HEADER HEADER*/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
    background-color: var(--principal);
    border-bottom: 1px solid var(--tercero);
}

.header__logo {
    font-size: 2rem;
    margin-left: 1rem;
}

.header__logo span {
    border: 1px solid #ff7300;
    padding: 0 10px;
}

.header__navegacion {
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 3rem;
}

.header__a {
    cursor: pointer;
    margin: 0 1rem;
}

.header__a:hover {
    color: var(--secundario__gradiente);
}

.header__menu {
    display: none;
}
.header__menu--desplegable {
    display: none;
    flex-direction: column;
    justify-content: center;
    background-color: var(--principal);
    position: absolute;
    top: 4.8rem;
    left: 50%;
    height: 50%;
    width: 50%;
}

@media (max-width: 810px) {
    .header {
        justify-content: space-evenly;
    }
    .header__caja--a {
        display: none;
    }
    .header__menu {
        display: block;
    }
    .header__a {
        margin-top: 1rem
    }
}

@media(max-width: 350px){
    .header__menu--desplegable {
        width: 100%;
        left: 0;
    }
}

/* HERO HERO HERO IZQUIERDA IZQUIERDA*/

.hero {
    overflow: hidden;
    padding: 5rem 0;
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100%;
    background-color: var(--principal);
}

.hero__h1 {
    font-size: 80px;
    background: -webkit-linear-gradient(var(--secundario__gradiente), var(--secundario));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@media(max-width: 480px) {
    .hero__h1 {
        font-size: 40px;
    }
}

.hero__animacion {
    font-size: 80px;
    font-weight: 600;
    display: inline;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 11rem;
    animation: typing 1s steps(12), blink .5s infinite step-end alternate;
    overflow:hidden;
}
@media(max-width: 480px) {
    .hero__animacion {
        font-size: 40px;
        width: 6rem;
    }
}

@keyFrames typing {
from { width: 0}
}

@keyFrames blink {
 50% { border-color: transparent}
}

.hero__p {
    margin: 3rem 0;
    color: var(--tercero);
    font-size: 18px;
}

.hero__izquierda {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/*botones hero*/

.hero__botones {
    display: flex;
}

.hero__button {
    cursor: pointer;
    font-size: 18px;
    background: linear-gradient(165deg, var(--secundario__gradiente) 0%,var(--secundario) 100%);
    height: 3rem;
    width: 7.5rem;
    border-radius: 25px;
    border: none;
}

.hero__button--cv {
    font-size: 18px;
    height: 2.5rem;
    width: 9rem;
    background: var(--principal);
}

.hero__button:hover {
    background: linear-gradient(165deg, var(--secundario__gradiente) 0%,var(--secundario) 100%);
}

.hero__button--gradiente {
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    width: 9.5rem;
    height: 3rem;
    background: linear-gradient(165deg, var(--secundario__gradiente) 0%,var(--secundario) 100%);
}

@media (max-width: 480px) {
    .hero__botones {
        flex-direction: column;
        align-items: center;
    }

    .hero__button--gradiente {
        margin-top: 2rem;
        margin-right: 1rem;
    }
}

/*hero derecha hero derecha*/

.hero__derecha {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__circulo {
    height: 25rem;
    width: 25rem;
    border-radius: 100%;
    background-image: url(assets/img/avatar\ \(2\).jpg);
    background-size: cover;
    background-position: center;
}

.hero__circulo:hover, .hero__circulo--borde:hover {
    border-radius: 10px;
    transition: 1s;
    cursor: pointer;
}

.hero__circulo--borde {
    height: 100%;
    border-radius: 100%;
    border: 1px solid #ff4800b7;
}

@media (max-width: 850px) {
    .hero {grid-template-columns: 100%;
    }
    .hero__derecha {
        display: none;
    }
}

/*banner*/

.banner {
    background-color: var(--principal);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.banner__caja {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 60%;
    border: 1px solid var(--tercero);
    border-radius: 4px;
}

.banner__numero {
    font-size: 40px;
}

.banner__texto {
    color: var(--tercero);
}

@keyframes banner {
    0%{
        width: 20%;
    }
    100% {
        z-index: 1;
        border: 1px solid var(--secundario);
    }
}

@media (max-width: 480px) {
    .banner {
        padding-top: 3rem;
        height: 100%;
        padding-bottom: 2rem;
    }
    .banner__caja {
        height: 100%;
        text-align: center;
        flex-direction: column;
    }
}

/* TERCERA SECCION // ABOUT ABOUT */

.about {
    overflow: hidden;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    background-color: var(--principal);
}

.about__izquierda {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__img {
    width: 80%;
}

.about__derecha {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__caja--habilidades {
    display: flex;
}
@media (max-width: 480px) {
    .about__caja--habilidades, .about__caja {
        flex-direction: column;
    }
}
.about__caja--habilidades p {
    margin: 0 1rem 0 0;
    cursor: pointer;
}
.about__caja {
    display: flex;
}

.about__caja p {
    padding: 1rem 2rem 0 0;
    color: var(--tercero);
    font-size: 18px;
}

.about__caja p:first-child {
    color: var(--secundario__gradiente);
}

.about__h2 {
    font-size: 40px;
}

.about__texto {
    margin: 2rem 0;
}

.about__datos {
    color: var(--tercero);
    font-size: 18px;
    margin-right: 0.5rem;
}

.about__datos:first-child{
    color: var(--secundario__gradiente);
}

.about__educacion, .about__certificados {
    display: none;
}

.about__educacion, .about__certificados, .about__habilidades {
    margin: 1rem;
}
.about__educacion li, .about__certificados li, .about__habilidades li {
    margin: 0 0 0 0.2rem;
}

#about__profesionalmente, #about__personalmente {
    cursor: pointer;
}

@keyframes desliz-derecha {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width:880px) {
    .about {
        grid-template-columns: 100%;
        height: 100%;
    }
    .about__derecha {
        margin: auto;
        align-items: center;
    }
}

/* SECCION PROJECTOS */

.project {
    height: 100%;
    background-color: var(--principal);
}

.project__h3 {
    padding-top: 3rem;
    text-align: center;
    font-size: 40px;
}

.project__caja--botones {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.project__botones {
    margin: 0 1rem 3rem 1rem;
    cursor: pointer;
    background-color: var(--principal);
    border: 3px solid var(--tercero);
    border-radius: 2rem;
    width: 5.5rem;
    height: 3.5rem;
    font-size: 18px;
}

.project__botones:hover {
    border-color: white;
}

.project__botones:focus {
    border-color: var(--secundario);
}
.project__botones:first-child {
    border-color: var(--secundario);
}


.project__contenedor--cartas {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    width: 90%;
    margin: auto;
}

@media (max-width:920px ){
    .project__contenedor--cartas {
        display: flex;
        flex-direction: column;
    }
}

.project__caja--cartas {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project__img {
    box-shadow: 0 0 2px var(--secundario);
    width: 100%;
    height: 15rem;
    border-radius: 2rem 2rem 0 0;
}

.cursor {
    cursor: pointer;
}
.project__caja--texto {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.project__img--texto {
    font-size: 2.5rem;
}

.project__img:hover .project__caja--texto {
    display: flex;
    background-color: rgba(0, 0, 0, 0.603);
    border-radius: 2rem 2rem 0 0
}

.project__caja--cartas:first-child .project__img{
    background: url(assets/img/veterinaria.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.project__caja--cartas:nth-child(2) .project__img{
    background: url(assets/img/Captura\ de\ pantalla\ 2023-10-13\ 185905.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.project__caja--cartas:nth-child(3) .project__img{
    background: url(assets/img/cafe.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.project__caja--cartas:nth-child(4) .project__img{
    background: url(assets/img/ham.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.project__caja--cartas:nth-child(5) .project__img{
    background: url(assets/img/inmo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.project__caja--cartas:nth-child(6) .project__img{
    background: url(assets/img/cafe.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.caja__js:first-child  .project__img{
    background: url(assets/img/memotest.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.caja__js:nth-child(2)  .project__img{
    background: url(assets/img/flappy.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.caja__php:first-child  .project__img{
    background: url(assets/img/crud.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.caja__php:nth-child(2)  .project__img{
    background: url(assets/img/login.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#project__contenedor__javascript, #project__contenedor__php {
    display: none;
}

.project__titulo {
    margin: 1rem 0;
    font-size: 18px;
}

.project__descripcion {
    margin-bottom: 3rem;
    color: var(--tercero);
}

/*FORMULARIO FORMULARIO */

.formulario {
    padding: 6rem 0;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    background-color: var(--principal);
}

@media (max-width: 980px) {
    .formulario {
        grid-template-columns: 100%;
    }
}

.formulario__izquierda {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formulario__h4 {
    font-size: 3rem;
}

@media (max-width: 480px) {
    .formulario__h4 {
        font-size: 2rem;
    }
}

.formulario__texto {
    margin: 1rem;
}

.formulario__iconos {
    cursor: pointer;
    width: 3rem;
}

.formulario__derecha {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario__label {
    margin-top: 1rem;
    display: block;
    font-size: 20px;
}

.formulario__input {
    padding-left: 1rem;
    width: 30rem;
    height: 2.5rem;
    border-radius: 10px;
    background-color: rgb(29, 27, 36);
    border: 1px solid var(--tercero);
}

.formulario__input--textarea {
    padding-top: 0.4rem;
    height: 8rem;
    resize: none;
}

.formulario__submit {
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
    width: 31rem;
    height: 2.5rem;
    border-radius: 10px;
    background-color: var(--secundario);
}

.formulario__submit:hover {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--secundario);
    transition: 1s;
}

@media (max-width: 600px ) {
    .formulario__input {
        width: 20rem;
    }
    .formulario__submit {
        width: 21rem;
    }
}

@media (max-width: 480px ) {
    .formulario__input {
        width: 10rem;
    }
    .formulario__submit {
        width: 11rem;
    }
}

/*FOOTER FOOTER*/

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 2rem 0;
    background-color: var(--principal);
    border-top: 1px solid var(--tercero);
}

@media (max-width: 480px) {
    .footer {
        flex-direction: column;
    }
}

.footer__texto {
    color: var(--tercero);
    font-size: 20px;
}